Repository xiebaiyuan/PaddleX: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, check-license-headers, check-imports

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: check-added-large-files
        args: ['--maxkb=512']
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
        files: \.(md|c|cc|cxx|cpp|cu|h|hpp|hxx|py)$
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.1
    hooks:
    -   id: remove-crlf
    -   id: remove-tabs
        files: \.(md|c|cc|cxx|cpp|cu|h|hpp|hxx|py)$
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        description: Format files with ClangFormat
        entry: bash .precommit/clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|cuh|proto)$
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 24.4.2
    hooks:
    -   id: black
        files: (.*\.(py|pyi|bzl)|BUILD|.*\.BUILD|WORKSPACE)$

# Flake8
-   repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
    -   id: flake8
        args:
            - --count
            - --select=E9,F63,F7,F82,E721,F401
            - --per-file-ignores=__init__.py:F401
            - --show-source
            - --statistics

# isort
-   repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
    -   id: isort
        args:
            - --profile=black
        exclude: ^libs/ultra-infer/python/ultra_infer/

# check license
-   repo: local
    hooks:
    -   id: check-license-headers
        name: Check License Headers
        entry: python .precommit/check_license_headers.py
        language: python
        files: .*\.py$
    -   id: check-imports
        name: Check Imports
        entry: python .precommit/check_imports.py
        language: python
        files: ^paddlex/.*\.py$
        additional_dependencies:
            - stdlib-list==0.10.0

fix trt config (#3829)
  paddlex/inference/utils/trt_config.py
Due: check-license-headers, check-imports

support to enable CINN to infer (#3835)
  paddlex/inference/models/common/static_infer.py
  paddlex/inference/utils/pp_option.py
Due: check-license-headers, check-imports

Fix trt-fp16 (#3856)
  paddlex/inference/models/common/static_infer.py
Due: check-license-headers, check-imports

[Fix] Fix bugs and polish docs (#3859)
  docs/installation/installation.en.md
  docs/installation/installation.md
  docs/module_usage/instructions/model_python_API.en.md
  docs/module_usage/instructions/model_python_API.md
  docs/pipeline_deploy/high_performance_inference.en.md
  docs/pipeline_deploy/high_performance_inference.md
  docs/pipeline_usage/instructions/pipeline_python_API.en.md
  docs/pipeline_usage/instructions/pipeline_python_API.md
  paddlex/inference/models/common/static_infer.py
  paddlex/inference/serving/basic_serving/_pipeline_apps/doc_understanding.py
  paddlex/inference/serving/schemas/doc_understanding.py
  paddlex/inference/utils/hpi.py
  paddlex/inference/utils/model_paths.py
  paddlex/inference/utils/pp_option.py
  paddlex/paddlex_cli.py
  paddlex/utils/flags.py
Due: check-license-headers, check-imports

Add missing __init__.py (#3861)
  paddlex/modules/base/utils/__init__.py
Due: check-license-headers, check-imports

Update HPI prior knowledge (#3862)
  paddlex/inference/utils/hpi_model_info_collection.json
Due: none

fix openvino.cmake (#3863)
  libs/ultra-infer/cmake/openvino.cmake
Due: none

update hpi PIR_TRT code (#3864)
  paddlex/.version
  paddlex/inference/utils/hpi.py
Due: check-license-headers, check-imports

Polish function names and docs (#3865)
  docs/pipeline_deploy/high_performance_inference.en.md
  docs/pipeline_deploy/high_performance_inference.md
  paddlex/inference/models/base/predictor/base_predictor.py
  paddlex/inference/utils/hpi.py
  paddlex/paddlex_cli.py
  paddlex/utils/env.py
Due: check-license-headers, check-imports

[Fix] Use strict version check for paddle2onnx (#3867)
  docs/pipeline_deploy/high_performance_inference.en.md
  docs/pipeline_deploy/high_performance_inference.md
  paddlex/utils/deps.py
  paddlex/utils/install.py
Due: check-license-headers, check-imports

add pp_docbee serving doc (#3870)
  docs/pipeline_usage/tutorials/vlm_pipelines/doc_understanding.md
Due: none

Support BOS temporary URL (#3874)
  paddlex/inference/serving/infra/utils.py
Due: check-license-headers, check-imports

add pp_docbee serving en doc (#3873)
  docs/pipeline_usage/tutorials/vlm_pipelines/doc_understanding.en.md
Due: none

update HPI prior knowledge (#3876)
  paddlex/inference/utils/hpi_model_info_collection.json
Due: none

Fix `infer_file_type` in serving (#3877)
  paddlex/inference/serving/infra/utils.py
Due: check-license-headers, check-imports

bugfix (#3869)
  paddlex/inference/common/result/base_cv_result.py
  paddlex/inference/models/common/static_infer.py
  paddlex/modules/base/utils/cinn_setting.py
  setup.py
Due: check-license-headers, check-imports

Add Document understanding serving SDK links (#3880)
  docs/pipeline_deploy/serving.en.md
  docs/pipeline_deploy/serving.md
Due: none

[dev]Update for 3.0rc1 (#3884)
  README.md
  README_en.md
  docs/CHANGLOG.en.md
  docs/CHANGLOG.md
  docs/index.en.md
  docs/index.md
  docs/installation/installation.en.md
  docs/installation/installation.md
  docs/installation/paddlepaddle_install.en.md
  docs/installation/paddlepaddle_install.md
  docs/pipeline_usage/tutorials/vlm_pipelines/doc_understanding.en.md
  docs/pipeline_usage/tutorials/vlm_pipelines/doc_understanding.md
  mkdocs.yml
  paddlex/__init__.py
Due: check-license-headers, check-imports

fix table label list (#3881)
  paddlex/repo_apis/PaddleClas_api/configs/PP-LCNet_x1_0_table_cls.yaml
Due: none

[Docs] Add description on installation of optional dependencies (#3887)
  docs/installation/installation.en.md
  docs/installation/installation.md
Due: none

add 'max_image_tokens' param for docbee serving (#3886)
  docs/pipeline_usage/tutorials/vlm_pipelines/doc_understanding.en.md
  docs/pipeline_usage/tutorials/vlm_pipelines/doc_understanding.md
  paddlex/inference/serving/basic_serving/_pipeline_apps/doc_understanding.py
  paddlex/inference/serving/schemas/doc_understanding.py
Due: check-license-headers, check-imports

Fix environment variable name (#3893)
  docs/pipeline_deploy/serving.en.md
  docs/pipeline_deploy/serving.md
Due: none

Fix serving doc (#3897)
  docs/pipeline_deploy/serving.en.md
  docs/pipeline_deploy/serving.md
Due: none

add pipeline to pipeline list (#3899)
  docs/support_list/pipelines_list.en.md
  docs/support_list/pipelines_list.md
  docs/support_list/pipelines_list_npu.en.md
  docs/support_list/pipelines_list_npu.md
Due: none

update xycut_enhanced
  paddlex/inference/models/formula_recognition/processors.py
  paddlex/inference/pipelines/layout_parsing/pipeline.py
  paddlex/inference/pipelines/layout_parsing/pipeline_v2.py
  paddlex/inference/pipelines/layout_parsing/result_v2.py
  paddlex/inference/pipelines/layout_parsing/setting.py
  paddlex/inference/pipelines/layout_parsing/utils.py
  paddlex/inference/pipelines/layout_parsing/xycut_enhanced/__init__.py
  paddlex/inference/pipelines/layout_parsing/xycut_enhanced/utils.py
  paddlex/inference/pipelines/layout_parsing/xycut_enhanced/xycuts.py
Due: check-license-headers, check-imports

update npu pipeline list (#3904)
  docs/support_list/pipelines_list_npu.en.md
  docs/support_list/pipelines_list_npu.md
Due: none

Fix bugs (#3916)
  paddlex/repo_manager/core.py
  paddlex/repo_manager/repo.py
Due: check-license-headers, check-imports

modify high_performance_npu_tutorial (#3919)
  docs/practical_tutorials/high_performance_npu_tutorial.md
Due: none

support multy device set device id in inference (#3925)
  paddlex/inference/models/common/static_infer.py
Due: check-license-headers, check-imports

fix: use lazy import to avoid extra dependencies (#3940)
  libs/ultra-infer/VERSION_NUMBER
  libs/ultra-infer/python/requirements.txt
  libs/ultra-infer/python/setup.py
  libs/ultra-infer/python/ultra_infer/py_only/ts/processors.py
  libs/ultra-infer/python/ultra_infer/py_only/vision/processors.py
  libs/ultra-infer/python/ultra_infer/ts/anomalydetection/ppts/__init__.py
  libs/ultra-infer/python/ultra_infer/ts/forecasting/ppts/__init__.py
  libs/ultra-infer/python/ultra_infer/vision/ocr/ppocr/__init__.py
  libs/ultra-infer/python/ultra_infer/vision/segmentation/ppseg/__init__.py
Due: check-license-headers

fix pdx_model_name (#3939)
  paddlex/repo_apis/PaddleOCR_api/formula_rec/model.py
  paddlex/repo_apis/PaddleOCR_api/text_rec/model.py
Due: check-license-headers, check-imports

add chart2table (#3941)
  .precommit/check_imports.py
  paddlex/inference/common/batch_sampler/doc_vlm_batch_sampler.py
  paddlex/inference/models/common/tokenizer/__init__.py
  paddlex/inference/models/common/tokenizer/qwen_tokenizer.py
  paddlex/inference/models/common/vlm/fusion_ops.py
  paddlex/inference/models/doc_vlm/modeling/GOT_ocr_2_0.py
  paddlex/inference/models/doc_vlm/modeling/__init__.py
  paddlex/inference/models/doc_vlm/modeling/qwen2.py
  paddlex/inference/models/doc_vlm/predictor.py
  paddlex/inference/models/doc_vlm/processors/GOT_ocr_2_0.py
  paddlex/inference/models/doc_vlm/processors/__init__.py
  paddlex/inference/models/doc_vlm/processors/qwen2_vl.py
  paddlex/inference/utils/official_models.py
  paddlex/modules/doc_vlm/model_list.py
  setup.py
Due: check-license-headers, check-imports

Fix typos in multiple files (#3951)
  README_en.md
  docs/data_annotations/cv_modules/image_classification.md
  docs/data_annotations/cv_modules/image_feature.md
  docs/data_annotations/cv_modules/instance_segmentation.md
  docs/data_annotations/cv_modules/ml_classification.md
  docs/data_annotations/cv_modules/object_detection.md
  docs/data_annotations/cv_modules/semantic_segmentation.md
  docs/module_usage/instructions/model_python_API.md
  docs/module_usage/tutorials/cv_modules/image_feature.en.md
  docs/module_usage/tutorials/cv_modules/image_feature.md
  docs/module_usage/tutorials/cv_modules/mainbody_detection.en.md
  docs/module_usage/tutorials/cv_modules/mainbody_detection.md
  docs/module_usage/tutorials/time_series_modules/time_series_anomaly_detection.md
  docs/other_devices_support/how_to_contribute_device.md
  docs/pipeline_usage/instructions/pipeline_python_API.md
  docs/pipeline_usage/tutorials/time_series_pipelines/time_series_anomaly_detection.md
  docs/pipeline_usage/tutorials/video_pipelines/video_classification.en.md
  docs/practical_tutorials/instance_segmentation_remote_sensing_tutorial.en.md
  docs/practical_tutorials/ts_anomaly_detection.md
  docs/support_list/model_list_npu.md
  docs/support_list/models_list.md
  docs/support_list/pipelines_list.md
  docs/support_list/pipelines_list_npu.md
  libs/ultra-infer/UltraInfer.cmake.in
  libs/ultra-infer/python/setup.py
  libs/ultra-infer/python/ultra_infer/__init__.py
  libs/ultra-infer/python/ultra_infer/c_lib_wrap.py.in
  libs/ultra-infer/python/ultra_infer/download.py
  libs/ultra-infer/python/ultra_infer/runtime.py
  libs/ultra-infer/scripts/ultra_infer_init.sh
Due: check-license-headers

Fix typos in multiple files (#3952)
  paddlex/modules/anomaly_detection/evaluator.py
  paddlex/modules/base/evaluator.py
  paddlex/modules/doc_vlm/dataset_checker.py
  paddlex/modules/doc_vlm/evaluator.py
  paddlex/modules/doc_vlm/exportor.py
  paddlex/modules/doc_vlm/trainer.py
  paddlex/modules/face_recognition/evaluator.py
  paddlex/modules/formula_recognition/evaluator.py
  paddlex/modules/general_recognition/evaluator.py
  paddlex/modules/image_classification/evaluator.py
  paddlex/modules/instance_segmentation/evaluator.py
  paddlex/modules/keypoint_detection/evaluator.py
  paddlex/modules/m_3d_bev_detection/evaluator.py
  paddlex/modules/multilabel_classification/evaluator.py
  paddlex/modules/object_detection/evaluator.py
  paddlex/modules/semantic_segmentation/evaluator.py
  paddlex/modules/table_recognition/evaluator.py
  paddlex/modules/text_detection/evaluator.py
  paddlex/modules/text_recognition/evaluator.py
  paddlex/modules/ts_anomaly_detection/evaluator.py
  paddlex/modules/ts_classification/evaluator.py
  paddlex/modules/ts_forecast/evaluator.py
  paddlex/modules/video_classification/evaluator.py
  paddlex/modules/video_detection/evaluator.py
  paddlex/repo_apis/PaddleTS_api/ts_ad/config.py
  paddlex/repo_apis/PaddleTS_api/ts_cls/config.py
  paddlex/repo_apis/PaddleTS_api/ts_fc/config.py
Due: check-license-headers, check-imports

update xycut_enhanced and add region detection
  paddlex/inference/models/table_structure_recognition/processors.py
  paddlex/inference/pipelines/layout_parsing/pipeline_v2.py
  paddlex/inference/pipelines/layout_parsing/result_v2.py
  paddlex/inference/pipelines/layout_parsing/setting.py
  paddlex/inference/pipelines/layout_parsing/utils.py
  paddlex/inference/pipelines/layout_parsing/xycut_enhanced/utils.py
  paddlex/inference/pipelines/layout_parsing/xycut_enhanced/xycuts.py
Due: check-license-headers, check-imports

support sort by different text line
  paddlex/inference/pipelines/layout_parsing/pipeline_v2.py
  paddlex/inference/pipelines/layout_parsing/result_v2.py
  paddlex/inference/pipelines/layout_parsing/setting.py
  paddlex/inference/pipelines/layout_parsing/utils.py
  paddlex/inference/pipelines/layout_parsing/xycut_enhanced/utils.py
  paddlex/inference/pipelines/layout_parsing/xycut_enhanced/xycuts.py
Due: check-license-headers, check-imports

filter large image (#3959)
  paddlex/inference/models/object_detection/processors.py
Due: check-license-headers, check-imports
