Repository xiebaiyuan/PaddleX: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, check-license-headers, check-imports

clang-format:
  name: clang-format
  description: Format files with ClangFormat
  entry: bash .precommit/clang_format.hook -i
  language: system

check-license-headers:
  name: Check License Headers
  entry: python .precommit/check_license_headers.py
  language: python

check-imports:
  name: Check Imports
  entry: python .precommit/check_imports.py
  language: python
  additional_dependencies:
  - stdlib-list==0.10.0

bugfix && remove redundant page index
  paddlex/configs/pipelines/PP-StructureV3.yaml
  paddlex/inference/models/formula_recognition/result.py
  paddlex/inference/models/object_detection/processors.py
  paddlex/inference/models/table_structure_recognition/result.py
  paddlex/inference/models/text_detection/result.py
  paddlex/inference/pipelines/formula_recognition/result.py
  paddlex/inference/pipelines/layout_parsing/pipeline_v2.py
  paddlex/inference/pipelines/layout_parsing/result.py
  paddlex/inference/pipelines/layout_parsing/result_v2.py
  paddlex/inference/pipelines/layout_parsing/utils.py
  paddlex/inference/pipelines/layout_parsing/xycut_enhanced/utils.py
  paddlex/inference/pipelines/layout_parsing/xycut_enhanced/xycuts.py
  paddlex/inference/pipelines/ocr/result.py
Due: check-license-headers, check-imports

Fix sth (#3986)
  docs/pipeline_usage/tutorials/vlm_pipelines/doc_understanding.en.md
  docs/pipeline_usage/tutorials/vlm_pipelines/doc_understanding.md
  paddlex/configs/pipelines/doc_understanding.yaml
Due: none

bugfix: error in feature calculating when bs > 1 in image feature model
  paddlex/inference/models/image_feature/processors.py
Due: check-license-headers, check-imports

Fix pp_option set model_name (#3989)
  paddlex/inference/utils/pp_option.py
Due: check-license-headers, check-imports

bugfix
  paddlex/inference/pipelines/layout_parsing/pipeline_v2.py
  paddlex/inference/pipelines/layout_parsing/result_v2.py
  paddlex/inference/pipelines/layout_parsing/setting.py
  paddlex/inference/pipelines/layout_parsing/utils.py
  paddlex/inference/pipelines/layout_parsing/xycut_enhanced/xycuts.py
Due: check-license-headers, check-imports

bugfix
  paddlex/inference/common/result/mixin.py
Due: check-license-headers, check-imports

update prompt
  paddlex/configs/pipelines/PP-ChatOCRv4-doc.yaml
Due: none

enable fused_attn and fused_linear for CLIP_vit series (#3743)
  paddlex/repo_apis/PaddleClas_api/configs/CLIP_vit_base_patch16_224.yaml
  paddlex/repo_apis/PaddleClas_api/configs/CLIP_vit_large_patch14_224.yaml
Due: none

update PP-StrutureV3 config (#3993)
  paddlex/configs/pipelines/PP-StructureV3.yaml
Due: none

Fix typos in multiple files (#3994)
  libs/ultra-infer/python/ultra_infer/pipeline/pptinypose/__init__.py
  libs/ultra-infer/ultra_infer/pipeline/pptinypose/pipeline.h
  libs/ultra-infer/ultra_infer/vision/classification/contrib/resnet.h
  libs/ultra-infer/ultra_infer/vision/classification/ppcls/preprocessor.cc
  libs/ultra-infer/ultra_infer/vision/classification/ppshitu/ppshituv2_rec_preprocessor.cc
  libs/ultra-infer/ultra_infer/vision/detection/ppdet/preprocessor.cc
  libs/ultra-infer/ultra_infer/vision/facedet/ppdet/blazeface/preprocessor.cc
  libs/ultra-infer/ultra_infer/vision/generation/contrib/preprocessor.cc
  libs/ultra-infer/ultra_infer/vision/perception/paddle3d/caddn/preprocessor.cc
  libs/ultra-infer/ultra_infer/vision/perception/paddle3d/petr/preprocessor.cc
  libs/ultra-infer/ultra_infer/vision/perception/paddle3d/smoke/preprocessor.cc
  libs/ultra-infer/ultra_infer/vision/tracking/pptracking/lapjv.cc
  libs/ultra-infer/ultra_infer/vision/tracking/pptracking/lapjv.h
  libs/ultra-infer/ultra_infer/vision/tracking/pptracking/tracker.cc
  libs/ultra-infer/ultra_infer/vision/tracking/pptracking/tracker.h
  libs/ultra-infer/ultra_infer/vision/tracking/pptracking/trajectory.cc
  libs/ultra-infer/ultra_infer/vision/tracking/pptracking/trajectory.h
  paddlex/__init__.py
  paddlex/inference/models/common/tokenizer/tokenizer_utils.py
  paddlex/inference/models/common/tokenizer/tokenizer_utils_base.py
  paddlex/inference/models/common/tokenizer/vocab.py
  paddlex/inference/models/common/vlm/transformers/configuration_utils.py
  paddlex/inference/pipelines/table_recognition/pipeline_v2.py
  paddlex/inference/utils/io/readers.py
  paddlex/model.py
  paddlex/modules/__init__.py
  paddlex/modules/base/__init__.py
  paddlex/modules/base/evaluator.py
  paddlex/ops/__init__.py
  paddlex/repo_apis/PaddleVideo_api/configs/PP-TSM-R50_8frames_uniform.yaml
  paddlex/repo_apis/PaddleVideo_api/configs/PP-TSMv2-LCNetV2_16frames_uniform.yaml
  paddlex/repo_apis/PaddleVideo_api/configs/PP-TSMv2-LCNetV2_8frames_uniform.yaml
  paddlex/repo_apis/PaddleVideo_api/configs/YOWO.yaml
Due: clang-format, check-license-headers, check-imports

fix formula to ocr_rec bug (#3999)
  paddlex/inference/pipelines/layout_parsing/pipeline_v2.py
  paddlex/inference/pipelines/layout_parsing/result_v2.py
  paddlex/inference/pipelines/layout_parsing/utils.py
Due: check-license-headers, check-imports

add ppocrv5 mobile rec
  paddlex/configs/modules/text_recognition/PP-OCRv5_mobile_rec.yaml
  paddlex/inference/utils/official_models.py
  paddlex/modules/text_recognition/model_list.py
  paddlex/repo_apis/PaddleOCR_api/configs/PP-OCRv5_mobile_rec.yaml
  paddlex/repo_apis/PaddleOCR_api/text_rec/register.py
Due: check-license-headers, check-imports

modify xpu infer bug (#4006)
  paddlex/inference/models/common/static_infer.py
Due: check-license-headers, check-imports

rename layout pretrain (#4001)
  paddlex/configs/modules/layout_detection/PP-DocBlockLayout.yaml
  paddlex/configs/modules/layout_detection/PP-DocLayout-L.yaml
  paddlex/configs/modules/layout_detection/PP-DocLayout-M.yaml
  paddlex/configs/modules/layout_detection/PP-DocLayout-S.yaml
  paddlex/configs/modules/layout_detection/PP-DocLayout_plus-L.yaml
  paddlex/inference/models/object_detection/processors.py
Due: check-license-headers, check-imports

update hpip links (#3996)
  paddlex/hpip_links.html
Due: none

bugfix:
  paddlex/inference/pipelines/layout_parsing/pipeline_v2.py
  paddlex/inference/pipelines/layout_parsing/result_v2.py
Due: check-license-headers, check-imports

Fix serving schema and doc vlm predictor (#4008)
  paddlex/inference/models/doc_vlm/predictor.py
  paddlex/inference/serving/schemas/pp_structurev3.py
Due: check-license-headers, check-imports

Fix sth (#4010)
  paddlex/inference/models/doc_vlm/predictor.py
Due: check-license-headers, check-imports

Add vram note (#4009)
  docs/pipeline_usage/tutorials/ocr_pipelines/PP-StructureV3.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/PP-StructureV3.md
Due: none

update multi-device list (#4014)
  paddlex/utils/custom_device_list.py
Due: check-license-headers, check-imports

fix class number (#4012)
  paddlex/repo_apis/PaddleDetection_api/configs/PP-DocLayout_plus-L.yaml
Due: none

update doc (#4013)
  docs/pipeline_usage/tutorials/ocr_pipelines/PP-StructureV3.md
Due: none

repair doc of model_list and formula module (#4015)
  docs/module_usage/tutorials/ocr_modules/formula_recognition.en.md
  docs/module_usage/tutorials/ocr_modules/formula_recognition.md
  docs/module_usage/tutorials/speech_modules/multilingual_speech_recognition.md
  docs/support_list/models_list.en.md
  docs/support_list/models_list.md
  paddlex/configs/pipelines/formula_recognition.yaml
  paddlex/inference/models/formula_recognition/processors.py
Due: check-license-headers, check-imports

update doc (#4017)
  docs/pipeline_usage/tutorials/ocr_pipelines/PP-StructureV3.en.md
Due: none

review docs (#4022)
  docs/module_usage/tutorials/ocr_modules/layout_detection.en.md
  docs/module_usage/tutorials/ocr_modules/layout_detection.md
  docs/module_usage/tutorials/time_series_modules/time_series_anomaly_detection.en.md
  docs/pipeline_usage/tutorials/time_series_pipelines/time_series_anomaly_detection.en.md
  docs/support_list/model_list_npu.en.md
  docs/support_list/model_list_npu.md
  docs/support_list/models_list.en.md
  docs/support_list/models_list.md
Due: none

add co-dino metric (#4018)
  docs/module_usage/tutorials/cv_modules/object_detection.en.md
  docs/module_usage/tutorials/cv_modules/object_detection.md
  docs/pipeline_usage/tutorials/cv_pipelines/object_detection.en.md
  docs/pipeline_usage/tutorials/cv_pipelines/object_detection.md
  docs/support_list/models_list.en.md
  docs/support_list/models_list.md
Due: none

fix formula feq (#4030)
  paddlex/repo_manager/meta.py
Due: check-license-headers, check-imports

[Docs] refine table related docs (#4027)
  docs/module_usage/tutorials/ocr_modules/table_classification.en.md
  docs/module_usage/tutorials/ocr_modules/table_classification.md
  docs/pipeline_usage/tutorials/ocr_pipelines/table_recognition_v2.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/table_recognition_v2.md
  docs/support_list/models_list.md
Due: none

Update high-stability serving docs (#4028)
  docs/pipeline_deploy/serving.en.md
  docs/pipeline_deploy/serving.md
Due: none

Temporary fix: Align default value of `use_e2e_wireless_table_rec_model` between CLI and Python API (#4029)
  docs/pipeline_usage/tutorials/ocr_pipelines/PP-StructureV3.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/PP-StructureV3.md
Due: none

Switch default OCR model from OCRv4 to OCRv5 in OCR pipeline (#4026)
  docs/pipeline_usage/tutorials/ocr_pipelines/OCR.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/OCR.md
  paddlex/configs/pipelines/OCR.yaml
Due: none

fix misc (#4025)
  docs/module_usage/tutorials/vlm_modules/chart_parsing.en.md
  docs/module_usage/tutorials/vlm_modules/chart_parsing.md
  docs/module_usage/tutorials/vlm_modules/doc_vlm.en.md
  docs/module_usage/tutorials/vlm_modules/doc_vlm.md
  docs/pipeline_usage/tutorials/vlm_pipelines/doc_understanding.en.md
  docs/pipeline_usage/tutorials/vlm_pipelines/doc_understanding.md
  paddlex/configs/modules/chart_parsing/PP-Chart2Table.yaml
  paddlex/configs/modules/doc_vlm/PP-DocBee2-3B.yaml
Due: none

fix models_list.md (#4031)
  docs/support_list/models_list.en.md
  docs/support_list/models_list.md
Due: none

update README
  README.md
  README_en.md
Due: none

modify npu install docs (#4034)
  docs/other_devices_support/paddlepaddle_install_NPU.en.md
  docs/other_devices_support/paddlepaddle_install_NPU.md
Due: none

update hpi_model_info_collection.json and deprecate INFER_BENCHMARK_USE_NEW_INFER_API (#4032)
  docs/module_usage/instructions/benchmark.en.md
  docs/module_usage/instructions/benchmark.md
  paddlex/inference/models/common/static_infer.py
  paddlex/inference/utils/hpi_model_info_collection.json
  paddlex/utils/flags.py
Due: check-license-headers, check-imports

fix sth (#4036)
  docs/module_usage/tutorials/vlm_modules/doc_vlm.en.md
  docs/module_usage/tutorials/vlm_modules/doc_vlm.md
  docs/pipeline_usage/tutorials/vlm_pipelines/doc_understanding.en.md
  docs/pipeline_usage/tutorials/vlm_pipelines/doc_understanding.md
  paddlex/configs/modules/doc_vlm/PP-DocBee2-3B.yaml
Due: none

fix det xyxy (#4037)
  docs/module_usage/tutorials/ocr_modules/layout_detection.en.md
  docs/module_usage/tutorials/ocr_modules/layout_detection.md
  paddlex/inference/models/object_detection/processors.py
Due: check-license-headers, check-imports

update docs
  README.md
  README_en.md
  docs/other_devices_support/paddlepaddle_install_DCU.en.md
  mkdocs.yml
  paddlex/.version
  paddlex/configs/modules/text_detection/PP-OCRv5_mobile_det.yaml
  paddlex/configs/modules/text_recognition/PP-OCRv4_mobile_rec.yaml
Due: none

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|cuh|proto)$
  check-license-headers: any of: .*\.py$
  check-imports: any of: ^paddlex/.*\.py$
