Repository xiebaiyuan/PaddleX: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, check-license-headers, check-imports

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: check-added-large-files
        args: ['--maxkb=512']
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
        files: \.(md|c|cc|cxx|cpp|cu|h|hpp|hxx|py)$
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.1
    hooks:
    -   id: remove-crlf
    -   id: remove-tabs
        files: \.(md|c|cc|cxx|cpp|cu|h|hpp|hxx|py)$
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        description: Format files with ClangFormat
        entry: bash .precommit/clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|cuh|proto)$
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 24.4.2
    hooks:
    -   id: black
        files: (.*\.(py|pyi|bzl)|BUILD|.*\.BUILD|WORKSPACE)$

# Flake8
-   repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
    -   id: flake8
        args:
            - --count
            - --select=E9,F63,F7,F82,E721,F401
            - --per-file-ignores=__init__.py:F401
            - --show-source
            - --statistics

# isort
-   repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
    -   id: isort
        args:
            - --profile=black
        exclude: ^libs/ultra-infer/python/ultra_infer/

# check license
-   repo: local
    hooks:
    -   id: check-license-headers
        name: Check License Headers
        entry: python .precommit/check_license_headers.py
        language: python
        files: .*\.py$
    -   id: check-imports
        name: Check Imports
        entry: python .precommit/check_imports.py
        language: python
        files: ^paddlex/.*\.py$
        additional_dependencies:
            - stdlib-list==0.10.0

bugfix (#4176)
  docs/support_list/models_list.en.md
  docs/support_list/models_list.md
  paddlex/inference/models/text_recognition/result.py
Due: check-license-headers, check-imports

use huggingface only when supported (#4174)
  paddlex/inference/utils/official_models.py
Due: check-license-headers, check-imports

[Fix] Use one thread to perform all inference to circumvent Paddle Inference multi-thread bug (#4156)
  paddlex/inference/serving/basic_serving/_app.py
Due: check-license-headers, check-imports

Fix seg sth (#4139)
  paddlex/modules/semantic_segmentation/dataset_checker/__init__.py
Due: check-license-headers, check-imports

update edge deployment docs (#4126)
  docs/pipeline_deploy/edge_deploy.en.md
  docs/pipeline_deploy/edge_deploy.md
  docs/pipeline_deploy/high_performance_inference.md
  docs/pipeline_deploy/paddle2onnx.en.md
  docs/pipeline_deploy/paddle2onnx.md
  mkdocs.yml
Due: none

support xycut enhanced for region
  paddlex/inference/pipelines/layout_parsing/layout_objects.py
  paddlex/inference/pipelines/layout_parsing/pipeline_v2.py
  paddlex/inference/pipelines/layout_parsing/result_v2.py
  paddlex/inference/pipelines/layout_parsing/setting.py
  paddlex/inference/pipelines/layout_parsing/utils.py
  paddlex/inference/pipelines/layout_parsing/xycut_enhanced/utils.py
  paddlex/inference/pipelines/layout_parsing/xycut_enhanced/xycuts.py
Due: check-license-headers, check-imports

fix latexocr bug (#4178)
  paddlex/inference/models/formula_recognition/predictor.py
  paddlex/inference/models/formula_recognition/processors.py
Due: check-license-headers, check-imports

support PADDLE_PDX_MODEL_SOURCE to set the downloading source (#4180)
  paddlex/inference/utils/official_models.py
  paddlex/utils/flags.py
Due: check-license-headers, check-imports

bugfix
  paddlex/inference/pipelines/layout_parsing/layout_objects.py
  paddlex/inference/pipelines/layout_parsing/pipeline_v2.py
  paddlex/inference/pipelines/layout_parsing/utils.py
  paddlex/inference/pipelines/ocr/result.py
Due: check-license-headers, check-imports

download to temp dir and then move to dst, to avoid interruptions when downloading
  paddlex/inference/utils/official_models.py
Due: check-license-headers, check-imports

modify setup.py (#4195)
  setup.py
Due: check-license-headers

Default device aligns with paddle (#4151)
  paddlex/utils/device.py
  setup.py
Due: check-license-headers, check-imports

Add multi language for serve (#4170)
  docs/pipeline_usage/tutorials/information_extraction_pipelines/document_scene_information_extraction_v3.en.md
  docs/pipeline_usage/tutorials/information_extraction_pipelines/document_scene_information_extraction_v3.md
  docs/pipeline_usage/tutorials/information_extraction_pipelines/document_scene_information_extraction_v4.en.md
  docs/pipeline_usage/tutorials/information_extraction_pipelines/document_scene_information_extraction_v4.md
  docs/pipeline_usage/tutorials/ocr_pipelines/OCR.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/OCR.md
  docs/pipeline_usage/tutorials/ocr_pipelines/PP-StructureV3.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/PP-StructureV3.md
  docs/pipeline_usage/tutorials/ocr_pipelines/doc_preprocessor.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/doc_preprocessor.md
  docs/pipeline_usage/tutorials/ocr_pipelines/formula_recognition.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/formula_recognition.md
  docs/pipeline_usage/tutorials/ocr_pipelines/layout_parsing.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/layout_parsing.md
  docs/pipeline_usage/tutorials/ocr_pipelines/seal_recognition.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/seal_recognition.md
  docs/pipeline_usage/tutorials/ocr_pipelines/table_recognition.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/table_recognition.md
  docs/pipeline_usage/tutorials/ocr_pipelines/table_recognition_v2.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/table_recognition_v2.md
Due: none

enable mkldnn by default & DISABLE_TRT_MODEL_BL & DISABLE_MKLDNN_MODEL_BL (#4191)
  paddlex/inference/models/common/static_infer.py
  paddlex/inference/pipelines/layout_parsing/pipeline_v2.py
  paddlex/inference/utils/misc.py
  paddlex/inference/utils/official_models.py
  paddlex/inference/utils/pp_option.py
  paddlex/utils/flags.py
Due: check-license-headers, check-imports

[Feat][HPI] Enable MKL-DNN as default and suggest backend configurations more intelligently (#4169)
  paddlex/inference/models/common/static_infer.py
  paddlex/inference/utils/hpi.py
  paddlex/inference/utils/hpi_model_info_collection.json
  paddlex/inference/utils/mkldnn_blocklist.py
  paddlex/inference/utils/pp_option.py
  setup.py
Due: check-license-headers, check-imports

tip the change of model source (#4192)
  docs/module_usage/tutorials/ocr_modules/doc_img_orientation_classification.en.md
  docs/module_usage/tutorials/ocr_modules/doc_img_orientation_classification.md
  docs/module_usage/tutorials/ocr_modules/formula_recognition.en.md
  docs/module_usage/tutorials/ocr_modules/formula_recognition.md
  docs/module_usage/tutorials/ocr_modules/layout_detection.en.md
  docs/module_usage/tutorials/ocr_modules/layout_detection.md
  docs/module_usage/tutorials/ocr_modules/seal_text_detection.en.md
  docs/module_usage/tutorials/ocr_modules/seal_text_detection.md
  docs/module_usage/tutorials/ocr_modules/table_cells_detection.en.md
  docs/module_usage/tutorials/ocr_modules/table_cells_detection.md
  docs/module_usage/tutorials/ocr_modules/table_classification.en.md
  docs/module_usage/tutorials/ocr_modules/table_classification.md
  docs/module_usage/tutorials/ocr_modules/table_structure_recognition.en.md
  docs/module_usage/tutorials/ocr_modules/table_structure_recognition.md
  docs/module_usage/tutorials/ocr_modules/text_detection.en.md
  docs/module_usage/tutorials/ocr_modules/text_detection.md
  docs/module_usage/tutorials/ocr_modules/text_image_unwarping.en.md
  docs/module_usage/tutorials/ocr_modules/text_image_unwarping.md
  docs/module_usage/tutorials/ocr_modules/text_recognition.en.md
  docs/module_usage/tutorials/ocr_modules/text_recognition.md
  docs/module_usage/tutorials/ocr_modules/textline_orientation_classification.en.md
  docs/module_usage/tutorials/ocr_modules/textline_orientation_classification.md
  docs/pipeline_usage/tutorials/ocr_pipelines/OCR.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/OCR.md
  docs/pipeline_usage/tutorials/ocr_pipelines/PP-StructureV3.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/PP-StructureV3.md
  docs/pipeline_usage/tutorials/ocr_pipelines/doc_preprocessor.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/doc_preprocessor.md
  docs/pipeline_usage/tutorials/ocr_pipelines/formula_recognition.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/formula_recognition.md
  docs/pipeline_usage/tutorials/ocr_pipelines/layout_parsing.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/layout_parsing.md
  docs/pipeline_usage/tutorials/ocr_pipelines/seal_recognition.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/seal_recognition.md
  docs/pipeline_usage/tutorials/ocr_pipelines/table_recognition.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/table_recognition.md
  docs/pipeline_usage/tutorials/ocr_pipelines/table_recognition_v2.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/table_recognition_v2.md
Due: none

bugfix (#4197)
  paddlex/inference/pipelines/layout_parsing/utils.py
Due: check-license-headers, check-imports

add docbee models to huggingface models (#4210)
  paddlex/inference/utils/official_models.py
Due: check-license-headers, check-imports

fix post process in unimernet (#4213)
  paddlex/inference/models/formula_recognition/processors.py
Due: check-license-headers, check-imports

update for 3.0.2 (#4215)
  README.md
  README_en.md
  docs/index.en.md
  docs/index.md
  docs/installation/installation.en.md
  docs/installation/installation.md
  paddlex/.version
Due: none

[Fix] Bump high-stability serving version and fix high-performance inference (#4224)
  docs/pipeline_deploy/high_performance_inference.en.md
  docs/pipeline_deploy/high_performance_inference.md
  docs/pipeline_deploy/serving.en.md
  docs/pipeline_deploy/serving.md
  paddlex/inference/models/common/static_infer.py
  paddlex/inference/utils/hpi.py
  paddlex/inference/utils/hpi_model_info_collection.json
Due: check-license-headers, check-imports

Lock thread-unsafe pdfium APIs (#4229)
  paddlex/inference/serving/infra/utils.py
Due: check-license-headers, check-imports

Correct misused phrase (#4232)
  docs/pipeline_deploy/serving.en.md
  docs/pipeline_deploy/serving.md
Due: none

bugfix: run_mode defult setting is not work when device passed from create_model or PaddlePredictorOption
  paddlex/inference/models/base/predictor/base_predictor.py
  paddlex/inference/utils/pp_option.py
Due: check-license-headers, check-imports

bugfix: set page_first_element_seg_start_flag default to True (#4230)
  paddlex/inference/pipelines/layout_parsing/result_v2.py
Due: check-license-headers, check-imports

[Fix] Stop writing to stdout when downloading (#4237)
  paddlex/inference/serving/basic_serving/_app.py
  paddlex/utils/download.py
Due: check-license-headers, check-imports

bugfix: set run_mode is not work
  paddlex/inference/utils/pp_option.py
Due: check-license-headers, check-imports

Bump high-stability serving version (#4253)
  docs/pipeline_deploy/serving.en.md
  docs/pipeline_deploy/serving.md
Due: none

update for 3.0.3 (#4254)
  paddlex/.version
Due: none

support load form md file in pp-translation pipeline
  api_examples/pipelines/test_pp_translation.py
  paddlex/configs/pipelines/PP-Translation.yaml
  paddlex/inference/common/batch_sampler/__init__.py
  paddlex/inference/common/batch_sampler/markdown_batch_sampler.py
  paddlex/inference/common/result/base_cv_result.py
  paddlex/inference/common/result/mixin.py
  paddlex/inference/pipelines/__init__.py
  paddlex/inference/pipelines/pp_translation/__init__.py
  paddlex/inference/pipelines/pp_translation/pipeline.py
  paddlex/inference/pipelines/pp_translation/result.py
  paddlex/inference/utils/io/__init__.py
  paddlex/inference/utils/io/readers.py
  paddlex/inference/utils/io/writers.py
Due: check-license-headers, check-imports

support pp-translation pipeline
  api_examples/pipelines/test_pp_translation.py
  paddlex/configs/pipelines/PP-Translation.yaml
  paddlex/inference/common/result/base_cv_result.py
  paddlex/inference/pipelines/__init__.py
  paddlex/inference/pipelines/components/prompt_engineering/generate_translate_prompt.py
  paddlex/inference/pipelines/layout_parsing/result_v2.py
  paddlex/inference/pipelines/pp_translation/__init__.py
  paddlex/inference/pipelines/pp_translation/pipeline.py
  paddlex/inference/pipelines/pp_translation/result.py
  paddlex/inference/utils/io/readers.py
Due: check-license-headers, check-imports

add trans deps
  .precommit/check_imports.py
  api_examples/pipelines/test_pp_doctranslation.py
  docs/installation/installation.en.md
  docs/installation/installation.md
  paddlex/configs/pipelines/PP-DocTranslation.yaml
  paddlex/inference/pipelines/pp_doctranslation/pipeline.py
  paddlex/inference/pipelines/pp_doctranslation/result.py
  setup.py
Due: check-license-headers, check-imports

rename PP-Translation -> PP-DocTranslation
  api_examples/pipelines/test_pp_doctranslation.py
  docs/pipeline_usage/tutorials/ocr_pipelines/PP-DocTranslation.md
  paddlex/configs/pipelines/PP-DocTranslation.yaml
  paddlex/inference/pipelines/pp_doctranslation/__init__.py
  paddlex/inference/pipelines/pp_doctranslation/pipeline.py
  paddlex/inference/pipelines/pp_doctranslation/result.py
Due: check-license-headers, check-imports

fix pp-c2t download (#4281)
  paddlex/inference/utils/official_models.py
Due: check-license-headers, check-imports

use osp.basename() get filename,don't use split (#4278)
  paddlex/modules/anomaly_detection/dataset_checker/dataset_src/convert_dataset.py
Due: check-license-headers, check-imports

modify PP-DocTranslation.md (#4276)
  docs/pipeline_usage/tutorials/ocr_pipelines/PP-DocTranslation.md
Due: none

download font only needed (#4279)
  paddlex/inference/models/formula_recognition/result.py
  paddlex/inference/models/image_classification/result.py
  paddlex/inference/models/image_multilabel_classification/result.py
  paddlex/inference/models/object_detection/result.py
  paddlex/inference/models/text_recognition/result.py
  paddlex/inference/models/video_classification/result.py
  paddlex/inference/models/video_detection/result.py
  paddlex/inference/pipelines/attribute_recognition/result.py
  paddlex/inference/pipelines/doc_preprocessor/result.py
  paddlex/inference/pipelines/formula_recognition/result.py
  paddlex/inference/pipelines/layout_parsing/result_v2.py
  paddlex/inference/pipelines/ocr/result.py
  paddlex/inference/pipelines/pp_shitu_v2/result.py
  paddlex/modules/face_recognition/dataset_checker/dataset_src/utils/visualizer.py
  paddlex/modules/formula_recognition/dataset_checker/dataset_src/analyse_dataset.py
  paddlex/modules/general_recognition/dataset_checker/dataset_src/analyse_dataset.py
  paddlex/modules/general_recognition/dataset_checker/dataset_src/utils/visualizer.py
  paddlex/modules/image_classification/dataset_checker/dataset_src/analyse_dataset.py
  paddlex/modules/image_classification/dataset_checker/dataset_src/utils/visualizer.py
  paddlex/modules/instance_segmentation/dataset_checker/dataset_src/analyse_dataset.py
  paddlex/modules/instance_segmentation/dataset_checker/dataset_src/utils/visualizer.py
  paddlex/modules/m_3d_bev_detection/dataset_checker/dataset_src/analyse_dataset.py
  paddlex/modules/multilabel_classification/dataset_checker/dataset_src/analyse_dataset.py
  paddlex/modules/multilabel_classification/dataset_checker/dataset_src/utils/visualizer.py
  paddlex/modules/object_detection/dataset_checker/dataset_src/analyse_dataset.py
  paddlex/modules/object_detection/dataset_checker/dataset_src/utils/visualizer.py
  paddlex/modules/text_recognition/dataset_checker/dataset_src/analyse_dataset.py
  paddlex/modules/ts_classification/dataset_checker/dataset_src/analyse_dataset.py
  paddlex/modules/video_classification/dataset_checker/dataset_src/analyse_dataset.py
  paddlex/modules/video_detection/dataset_checker/dataset_src/analyse_dataset.py
  paddlex/utils/fonts.py
Due: check-license-headers, check-imports
