Repository xiebaiyuan/PaddleX: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, check-license-headers, check-imports

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: check-added-large-files
        args: ['--maxkb=512']
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
        files: \.(md|c|cc|cxx|cpp|cu|h|hpp|hxx|py)$
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.1
    hooks:
    -   id: remove-crlf
    -   id: remove-tabs
        files: \.(md|c|cc|cxx|cpp|cu|h|hpp|hxx|py)$
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        description: Format files with ClangFormat
        entry: bash .precommit/clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|cuh|proto)$
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 24.4.2
    hooks:
    -   id: black
        files: (.*\.(py|pyi|bzl)|BUILD|.*\.BUILD|WORKSPACE)$

# Flake8
-   repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
    -   id: flake8
        args:
            - --count
            - --select=E9,F63,F7,F82,E721,F401
            - --per-file-ignores=__init__.py:F401
            - --show-source
            - --statistics

# isort
-   repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
    -   id: isort
        args:
            - --profile=black
        exclude: ^libs/ultra-infer/python/ultra_infer/

# check license
-   repo: local
    hooks:
    -   id: check-license-headers
        name: Check License Headers
        entry: python .precommit/check_license_headers.py
        language: python
        files: .*\.py$
    -   id: check-imports
        name: Check Imports
        entry: python .precommit/check_imports.py
        language: python
        files: ^paddlex/.*\.py$
        additional_dependencies:
            - stdlib-list==0.10.0

[Fix] Let HPIP not automatically choose pptrt when it is not available (#3782)
  paddlex/inference/models/common/static_infer.py
  paddlex/inference/utils/hpi.py
  paddlex/utils/deps.py
Due: check-license-headers, check-imports

Allow import paddle (#3788)
  .precommit/check_imports.py
  paddlex/inference/common/reader/audio_reader.py
  paddlex/inference/models/common/static_infer.py
  paddlex/inference/models/common/tokenizer/tokenizer_utils.py
  paddlex/inference/models/common/tokenizer/tokenizer_utils_base.py
  paddlex/inference/models/m_3d_bev_detection/predictor.py
  paddlex/inference/models/multilingual_speech_recognition/predictor.py
  paddlex/inference/models/multilingual_speech_recognition/processors.py
  paddlex/inference/models/open_vocabulary_detection/processors/groundingdino_processors.py
  paddlex/inference/models/open_vocabulary_segmentation/processors/sam_processer.py
  paddlex/inference/models/video_detection/processors.py
  paddlex/inference/utils/hpi.py
  paddlex/modules/base/utils/topk_eval.py
  paddlex/ops/__init__.py
  paddlex/ops/setup.py
  paddlex/repo_manager/utils.py
  paddlex/utils/device.py
  paddlex/utils/env.py
Due: check-license-headers, check-imports

upgrade ov from 2023.03 to 2025.0 (#3789)
  libs/ultra-infer/cmake/openvino.cmake
  libs/ultra-infer/cmake/utils.cmake
  libs/ultra-infer/scripts/linux/_build_py.sh
Due: none

update tokenizer base; add qwen2 tokenizer (#3774)
  paddlex/inference/models/common/tokenizer/__init__.py
  paddlex/inference/models/common/tokenizer/qwen2_tokenizer.py
  paddlex/inference/models/common/tokenizer/tokenizer_utils.py
  paddlex/inference/models/common/tokenizer/tokenizer_utils_base.py
Due: check-license-headers, check-imports

fix PIR-TRT/Paddle-TRT some model within FP16
  paddlex/inference/utils/trt_config.py
Due: check-license-headers, check-imports

fix PIR/Paddle-TRT some model within FP16
  paddlex/inference/utils/trt_config.py
Due: check-license-headers, check-imports

fix: Correct handling OpenVINO output names (#3793)
  libs/ultra-infer/ultra_infer/runtime/backends/openvino/ov_backend.cc
  paddlex/hpip_links.html
  paddlex/utils/flags.py
Due: clang-format, check-license-headers, check-imports

modify npu high performance docs (#3809)
  docs/practical_tutorials/high_performance_npu_tutorial.md
Due: none

update hpi docs (#3807)
  docs/installation/paddlepaddle_install.en.md
  docs/installation/paddlepaddle_install.md
  docs/pipeline_deploy/high_performance_inference.en.md
  docs/pipeline_deploy/high_performance_inference.md
  docs/pipeline_deploy/paddle2onnx.en.md
  docs/pipeline_deploy/paddle2onnx.md
  docs/pipeline_usage/pipeline_develop_guide.md
  docs/pipeline_usage/tutorials/information_extraction_pipelines/document_scene_information_extraction_v3.en.md
  docs/pipeline_usage/tutorials/information_extraction_pipelines/document_scene_information_extraction_v3.md
  docs/pipeline_usage/tutorials/information_extraction_pipelines/document_scene_information_extraction_v4.en.md
  docs/pipeline_usage/tutorials/information_extraction_pipelines/document_scene_information_extraction_v4.md
  docs/pipeline_usage/tutorials/ocr_pipelines/OCR.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/OCR.md
  docs/pipeline_usage/tutorials/ocr_pipelines/PP-StructureV3.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/PP-StructureV3.md
  docs/pipeline_usage/tutorials/ocr_pipelines/doc_preprocessor.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/doc_preprocessor.md
  docs/pipeline_usage/tutorials/ocr_pipelines/formula_recognition.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/formula_recognition.md
  docs/pipeline_usage/tutorials/ocr_pipelines/layout_parsing.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/layout_parsing.md
  docs/pipeline_usage/tutorials/ocr_pipelines/seal_recognition.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/seal_recognition.md
  docs/pipeline_usage/tutorials/ocr_pipelines/table_recognition.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/table_recognition.md
  docs/pipeline_usage/tutorials/ocr_pipelines/table_recognition_v2.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/table_recognition_v2.md
  docs/practical_tutorials/high_performance_npu_tutorial.en.md
  mkdocs.yml
Due: none

dcu xpu inference support pir (#3604)
  paddlex/inference/models/common/static_infer.py
Due: check-license-headers, check-imports

[Docs] Remove authentication instructions in docs (#3791)
  docs/pipeline_deploy/serving.en.md
  docs/pipeline_deploy/serving.md
  docs/pipeline_usage/tutorials/information_extraction_pipelines/document_scene_information_extraction_v3.en.md
  docs/pipeline_usage/tutorials/information_extraction_pipelines/document_scene_information_extraction_v3.md
  docs/pipeline_usage/tutorials/information_extraction_pipelines/document_scene_information_extraction_v4.en.md
  docs/pipeline_usage/tutorials/information_extraction_pipelines/document_scene_information_extraction_v4.md
  docs/pipeline_usage/tutorials/ocr_pipelines/OCR.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/OCR.md
  docs/pipeline_usage/tutorials/ocr_pipelines/PP-StructureV3.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/PP-StructureV3.md
  docs/pipeline_usage/tutorials/ocr_pipelines/doc_preprocessor.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/doc_preprocessor.md
  docs/pipeline_usage/tutorials/ocr_pipelines/formula_recognition.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/formula_recognition.md
  docs/pipeline_usage/tutorials/ocr_pipelines/layout_parsing.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/layout_parsing.md
  docs/pipeline_usage/tutorials/ocr_pipelines/seal_recognition.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/seal_recognition.md
  docs/pipeline_usage/tutorials/ocr_pipelines/table_recognition.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/table_recognition.md
  docs/pipeline_usage/tutorials/ocr_pipelines/table_recognition_v2.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/table_recognition_v2.md
  libs/ultra-infer/CMakeLists.txt
  libs/ultra-infer/cmake/openvino.cmake
  paddlex/inference/models/common/static_infer.py
  paddlex/inference/serving/basic_serving/_pipeline_apps/_common/common.py
  paddlex/inference/utils/hpi.py
  paddlex/inference/utils/model_paths.py
  paddlex/paddlex_cli.py
  paddlex/repo_manager/repo.py
  paddlex/utils/deps.py
  paddlex/utils/env.py
Due: check-license-headers, check-imports

modify npu whitelist
  paddlex/inference/models/common/static_infer.py
  paddlex/utils/custom_device_list.py
  paddlex/utils/device.py
Due: check-license-headers, check-imports

support CINN models white list
  paddlex/modules/base/trainer.py
  paddlex/modules/base/utils/cinn_setting.py
  paddlex/utils/flags.py
Due: check-license-headers, check-imports

move the filed to from
  paddlex/modules/anomaly_detection/trainer.py
  paddlex/modules/formula_recognition/trainer.py
  paddlex/modules/image_classification/trainer.py
  paddlex/modules/m_3d_bev_detection/trainer.py
  paddlex/modules/multilabel_classification/trainer.py
  paddlex/modules/multilingual_speech_recognition/trainer.py
  paddlex/modules/object_detection/trainer.py
  paddlex/modules/open_vocabulary_detection/trainer.py
  paddlex/modules/open_vocabulary_segmentation/trainer.py
  paddlex/modules/semantic_segmentation/trainer.py
  paddlex/modules/table_recognition/trainer.py
  paddlex/modules/text_detection/trainer.py
  paddlex/modules/text_recognition/trainer.py
  paddlex/modules/ts_anomaly_detection/trainer.py
  paddlex/modules/ts_classification/trainer.py
  paddlex/modules/ts_forecast/trainer.py
  paddlex/modules/video_classification/trainer.py
  paddlex/modules/video_detection/trainer.py
Due: check-license-headers, check-imports

Fix paddle version bug (#3821)
  paddlex/inference/utils/hpi.py
  paddlex/utils/env.py
Due: check-license-headers, check-imports

Add quotes (#3828)
  docs/installation/installation.en.md
  docs/installation/installation.md
  paddlex/utils/deps.py
Due: check-license-headers, check-imports

update hpi, paddle, paddle2onnx docs (#3827)
  docs/installation/paddlepaddle_install.en.md
  docs/installation/paddlepaddle_install.md
  docs/pipeline_deploy/high_performance_inference.en.md
  docs/pipeline_deploy/high_performance_inference.md
  docs/pipeline_deploy/paddle2onnx.en.md
  docs/pipeline_deploy/paddle2onnx.md
Due: none

add whisper and docbee models to benchmark (#3819)
  paddlex/inference/common/batch_sampler/audio_batch_sampler.py
  paddlex/inference/common/batch_sampler/doc_vlm_batch_sampler.py
  paddlex/inference/models/doc_vlm/modeling/qwen2_vl.py
  paddlex/inference/models/doc_vlm/processors/qwen2_vl.py
  paddlex/inference/models/multilingual_speech_recognition/processors.py
Due: check-license-headers, check-imports

tip when the model is not supported on the device
  paddlex/utils/device.py
Due: check-license-headers, check-imports

fix sth (#3842)
  paddlex/inference/models/common/tokenizer/qwen2_tokenizer.py
Due: check-license-headers, check-imports

update bos link
  paddlex/inference/utils/official_models.py
Due: check-license-headers, check-imports

export to json format inference model by default
  paddlex/utils/flags.py
Due: check-license-headers, check-imports

get FLAGS_json_format_model from the flag module
  paddlex/modules/base/exportor.py
  paddlex/modules/base/trainer.py
  paddlex/modules/ts_anomaly_detection/trainer.py
  paddlex/modules/ts_classification/trainer.py
  paddlex/modules/ts_forecast/trainer.py
Due: check-license-headers, check-imports

Change paddle2onnx default opset version and polish docs (#3843)
  docs/installation/installation.en.md
  docs/installation/installation.md
  docs/installation/paddlepaddle_install.en.md
  docs/installation/paddlepaddle_install.md
  docs/pipeline_deploy/high_performance_inference.en.md
  docs/pipeline_deploy/high_performance_inference.md
  docs/pipeline_deploy/paddle2onnx.en.md
  docs/pipeline_deploy/paddle2onnx.md
  paddlex/paddlex_cli.py
  paddlex/utils/deps.py
Due: check-license-headers, check-imports

Polish docs (#3844)
  docs/module_usage/instructions/model_python_API.en.md
  docs/module_usage/instructions/model_python_API.md
  docs/pipeline_deploy/high_performance_inference.en.md
  docs/pipeline_deploy/high_performance_inference.md
  docs/pipeline_usage/instructions/pipeline_python_API.en.md
  docs/pipeline_usage/instructions/pipeline_python_API.md
  mkdocs.yml
Due: none

bugfix: some model don't support json format
  paddlex/inference/utils/model_paths.py
Due: check-license-headers, check-imports

fix YOWO model url
  paddlex/inference/utils/official_models.py
Due: check-license-headers, check-imports

update cinn models white list
  paddlex/modules/base/utils/cinn_setting.py
Due: check-license-headers, check-imports

update hpi support list (#3847)
  README.md
  README_en.md
Due: none

bugfix: infer with official model
  paddlex/inference/models/__init__.py
Due: check-license-headers, check-imports

add misc docs for docbee (#3849)
  README.md
  README_en.md
  docs/index.en.md
  docs/index.md
  docs/support_list/models_list.en.md
  docs/support_list/models_list.md
  docs/support_list/pipelines_list.en.md
  docs/support_list/pipelines_list.md
  mkdocs.yml
Due: none

add pipeline doc for docbee (#3841)
  docs/pipeline_usage/tutorials/vlm_pipelines/doc_understanding.en.md
  docs/pipeline_usage/tutorials/vlm_pipelines/doc_understanding.md
Due: none

Support setting hpi_config from paddlex cli (#3855)
  docs/pipeline_deploy/high_performance_inference.en.md
  docs/pipeline_deploy/high_performance_inference.md
  paddlex/inference/pipelines/__init__.py
  paddlex/inference/pipelines/anomaly_detection/pipeline.py
  paddlex/inference/pipelines/base.py
  paddlex/inference/pipelines/doc_preprocessor/pipeline.py
  paddlex/inference/pipelines/formula_recognition/pipeline.py
  paddlex/inference/pipelines/image_classification/pipeline.py
  paddlex/inference/pipelines/image_multilabel_classification/pipeline.py
  paddlex/inference/pipelines/instance_segmentation/pipeline.py
  paddlex/inference/pipelines/keypoint_detection/pipeline.py
  paddlex/inference/pipelines/layout_parsing/pipeline.py
  paddlex/inference/pipelines/layout_parsing/pipeline_v2.py
  paddlex/inference/pipelines/m_3d_bev_detection/pipeline.py
  paddlex/inference/pipelines/multilingual_speech_recognition/pipeline.py
  paddlex/inference/pipelines/object_detection/pipeline.py
  paddlex/inference/pipelines/ocr/pipeline.py
  paddlex/inference/pipelines/open_vocabulary_detection/pipeline.py
  paddlex/inference/pipelines/open_vocabulary_segmentation/pipeline.py
  paddlex/inference/pipelines/pp_chatocr/pipeline_base.py
  paddlex/inference/pipelines/pp_chatocr/pipeline_v3.py
  paddlex/inference/pipelines/pp_chatocr/pipeline_v4.py
  paddlex/inference/pipelines/rotated_object_detection/pipeline.py
  paddlex/inference/pipelines/seal_recognition/pipeline.py
  paddlex/inference/pipelines/semantic_segmentation/pipeline.py
  paddlex/inference/pipelines/small_object_detection/pipeline.py
  paddlex/inference/pipelines/table_recognition/pipeline.py
  paddlex/inference/pipelines/table_recognition/pipeline_v2.py
  paddlex/inference/pipelines/ts_anomaly_detection/pipeline.py
  paddlex/inference/pipelines/ts_classification/pipeline.py
  paddlex/inference/pipelines/ts_forecasting/pipeline.py
  paddlex/inference/pipelines/video_classification/pipeline.py
  paddlex/inference/pipelines/video_detection/pipeline.py
  paddlex/paddlex_cli.py
  paddlex/utils/deps.py
Due: check-license-headers, check-imports

Update device contribution docs (#3854)
  docs/other_devices_support/how_to_contribute_device.en.md
  docs/other_devices_support/how_to_contribute_device.md
Due: none
