Repository xiebaiyuan/PaddleX: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, check-license-headers, check-imports

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: check-added-large-files
        args: ['--maxkb=512']
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
        files: \.(md|c|cc|cxx|cpp|cu|h|hpp|hxx|py)$
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.1
    hooks:
    -   id: remove-crlf
    -   id: remove-tabs
        files: \.(md|c|cc|cxx|cpp|cu|h|hpp|hxx|py)$
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        description: Format files with ClangFormat
        entry: bash .precommit/clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|cuh|proto)$
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 24.4.2
    hooks:
    -   id: black
        files: (.*\.(py|pyi|bzl)|BUILD|.*\.BUILD|WORKSPACE)$

# Flake8
-   repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
    -   id: flake8
        args:
            - --count
            - --select=E9,F63,F7,F82,E721,F401
            - --per-file-ignores=__init__.py:F401
            - --show-source
            - --statistics

# isort
-   repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
    -   id: isort
        args:
            - --profile=black
        exclude: ^libs/ultra-infer/python/ultra_infer/

# check license
-   repo: local
    hooks:
    -   id: check-license-headers
        name: Check License Headers
        entry: python .precommit/check_license_headers.py
        language: python
        files: .*\.py$
    -   id: check-imports
        name: Check Imports
        entry: python .precommit/check_imports.py
        language: python
        files: ^paddlex/.*\.py$
        additional_dependencies:
            - stdlib-list==0.10.0

update
  paddlex/configs/modules/text_detection/PP-OCRv5_mobile_det.yaml
  paddlex/configs/modules/text_recognition/PP-OCRv4_mobile_rec.yaml
Due: none

update docs
  README.md
  README_en.md
  docs/CHANGELOG.en.md
  docs/CHANGELOG.md
  docs/index.en.md
  docs/index.md
  docs/installation/installation.en.md
Due: none

Fix install repos (#4035)
  paddlex/repo_manager/meta.py
  paddlex/repo_manager/repo.py
Due: check-license-headers, check-imports

Fix table related configs (#4038)
  paddlex/repo_apis/PaddleOCR_api/configs/SLANeXt_wired.yaml
  paddlex/repo_apis/PaddleOCR_api/configs/SLANeXt_wireless.yaml
  paddlex/repo_apis/PaddleOCR_api/configs/SLANet_plus.yaml
Due: none

fixed ocrV5 det model bug (#4039)
  paddlex/inference/models/text_detection/predictor.py
Due: check-license-headers, check-imports

update docs (#4040)
  docs/pipeline_usage/tutorials/information_extraction_pipelines/document_scene_information_extraction_v4.en.md
  docs/pipeline_usage/tutorials/information_extraction_pipelines/document_scene_information_extraction_v4.md
  docs/pipeline_usage/tutorials/ocr_pipelines/PP-StructureV3.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/PP-StructureV3.md
Due: none

refine PP-OCRv5_det docs (#4042)
  docs/module_usage/tutorials/ocr_modules/text_detection.en.md
  docs/module_usage/tutorials/ocr_modules/text_detection.md
  docs/pipeline_usage/tutorials/ocr_pipelines/OCR.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/OCR.md
Due: none

fix pipeline doc and update visual rst (#4050)
  docs/module_usage/tutorials/ocr_modules/formula_recognition.en.md
  docs/module_usage/tutorials/ocr_modules/formula_recognition.md
  docs/pipeline_usage/tutorials/ocr_pipelines/formula_recognition.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/formula_recognition.md
Due: none

Fix parallel inference docs (#4052)
  docs/pipeline_usage/tutorials/cv_pipelines/human_keypoint_detection.en.md
  docs/pipeline_usage/tutorials/cv_pipelines/human_keypoint_detection.md
  docs/pipeline_usage/tutorials/cv_pipelines/image_anomaly_detection.en.md
  docs/pipeline_usage/tutorials/cv_pipelines/image_anomaly_detection.md
  docs/pipeline_usage/tutorials/cv_pipelines/image_classification.en.md
  docs/pipeline_usage/tutorials/cv_pipelines/image_classification.md
  docs/pipeline_usage/tutorials/cv_pipelines/image_multi_label_classification.en.md
  docs/pipeline_usage/tutorials/cv_pipelines/image_multi_label_classification.md
  docs/pipeline_usage/tutorials/cv_pipelines/instance_segmentation.en.md
  docs/pipeline_usage/tutorials/cv_pipelines/instance_segmentation.md
  docs/pipeline_usage/tutorials/cv_pipelines/object_detection.en.md
  docs/pipeline_usage/tutorials/cv_pipelines/object_detection.md
  docs/pipeline_usage/tutorials/cv_pipelines/pedestrian_attribute_recognition.en.md
  docs/pipeline_usage/tutorials/cv_pipelines/pedestrian_attribute_recognition.md
  docs/pipeline_usage/tutorials/cv_pipelines/rotated_object_detection.en.md
  docs/pipeline_usage/tutorials/cv_pipelines/rotated_object_detection.md
  docs/pipeline_usage/tutorials/cv_pipelines/semantic_segmentation.en.md
  docs/pipeline_usage/tutorials/cv_pipelines/semantic_segmentation.md
  docs/pipeline_usage/tutorials/cv_pipelines/small_object_detection.en.md
  docs/pipeline_usage/tutorials/cv_pipelines/small_object_detection.md
  docs/pipeline_usage/tutorials/cv_pipelines/vehicle_attribute_recognition.en.md
  docs/pipeline_usage/tutorials/cv_pipelines/vehicle_attribute_recognition.md
  docs/pipeline_usage/tutorials/ocr_pipelines/OCR.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/OCR.md
  docs/pipeline_usage/tutorials/ocr_pipelines/PP-StructureV3.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/PP-StructureV3.md
  docs/pipeline_usage/tutorials/ocr_pipelines/doc_preprocessor.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/doc_preprocessor.md
  docs/pipeline_usage/tutorials/ocr_pipelines/formula_recognition.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/formula_recognition.md
  docs/pipeline_usage/tutorials/ocr_pipelines/layout_parsing.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/layout_parsing.md
  docs/pipeline_usage/tutorials/ocr_pipelines/seal_recognition.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/seal_recognition.md
  docs/pipeline_usage/tutorials/ocr_pipelines/table_recognition.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/table_recognition.md
  docs/pipeline_usage/tutorials/ocr_pipelines/table_recognition_v2.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/table_recognition_v2.md
  mkdocs.yml
Due: none

update README (#4054)
  README.md
  README_en.md
  docs/CHANGELOG.en.md
  docs/CHANGELOG.md
Due: none

add ocrv5 rec model (#4057)
  docs/module_usage/tutorials/ocr_modules/text_recognition.en.md
  docs/module_usage/tutorials/ocr_modules/text_recognition.md
  docs/pipeline_usage/tutorials/ocr_pipelines/OCR.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/OCR.md
  docs/pipeline_usage/tutorials/ocr_pipelines/PP-StructureV3.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/PP-StructureV3.md
  docs/pipeline_usage/tutorials/ocr_pipelines/seal_recognition.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/seal_recognition.md
  docs/pipeline_usage/tutorials/ocr_pipelines/table_recognition_v2.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/table_recognition_v2.md
Due: none

Ocr v5 (#4056)
  docs/module_usage/tutorials/ocr_modules/text_detection.en.md
  docs/module_usage/tutorials/ocr_modules/text_detection.md
  docs/pipeline_usage/tutorials/information_extraction_pipelines/document_scene_information_extraction_v3.en.md
  docs/pipeline_usage/tutorials/information_extraction_pipelines/document_scene_information_extraction_v3.md
  docs/pipeline_usage/tutorials/information_extraction_pipelines/document_scene_information_extraction_v4.en.md
  docs/pipeline_usage/tutorials/information_extraction_pipelines/document_scene_information_extraction_v4.md
  docs/pipeline_usage/tutorials/ocr_pipelines/OCR.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/OCR.md
  docs/pipeline_usage/tutorials/ocr_pipelines/PP-StructureV3.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/PP-StructureV3.md
  docs/pipeline_usage/tutorials/ocr_pipelines/layout_parsing.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/layout_parsing.md
  docs/pipeline_usage/tutorials/ocr_pipelines/seal_recognition.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/seal_recognition.md
  docs/pipeline_usage/tutorials/ocr_pipelines/table_recognition.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/table_recognition.md
  docs/pipeline_usage/tutorials/ocr_pipelines/table_recognition_v2.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/table_recognition_v2.md
Due: none

support use_textline_orientation for ppchatocrv4 (#4067)
  paddlex/configs/pipelines/PP-ChatOCRv4-doc.yaml
  paddlex/inference/pipelines/layout_parsing/xycut_enhanced/xycuts.py
  paddlex/inference/pipelines/pp_chatocr/pipeline_v4.py
Due: check-license-headers, check-imports

fix ocr visulize (#4073)
  paddlex/inference/pipelines/ocr/result.py
Due: check-license-headers, check-imports

Update paddle2onnx version (#4074)
  paddlex/utils/deps.py
Due: check-license-headers, check-imports

fix type hint compatibility (#4077)
  paddlex/inference/models/common/vlm/generation/utils.py
Due: check-license-headers, check-imports

add PP-LCNet_x1_0_textline_ori
  docs/module_usage/tutorials/ocr_modules/textline_orientation_classification.en.md
  docs/module_usage/tutorials/ocr_modules/textline_orientation_classification.md
  paddlex/configs/modules/textline_orientation/PP-LCNet_x1_0_textline_ori.yaml
  paddlex/modules/image_classification/model_list.py
  paddlex/repo_apis/PaddleClas_api/cls/register.py
  paddlex/repo_apis/PaddleClas_api/configs/PP-LCNet_x1_0_textline_ori.yaml
Due: check-license-headers, check-imports

[Docs] Update parallel inference documentation (#4072)
  docs/pipeline_usage/instructions/parallel_inference.en.md
  docs/pipeline_usage/instructions/parallel_inference.md
Due: none

bugfix
  paddlex/inference/pipelines/layout_parsing/xycut_enhanced/utils.py
Due: check-license-headers, check-imports

Fix docs (#4095)
  docs/pipeline_deploy/high_performance_inference.en.md
  docs/pipeline_deploy/high_performance_inference.md
Due: none

Update PP-ChatOCRv4 interface (#4069)
  docs/pipeline_usage/tutorials/information_extraction_pipelines/document_scene_information_extraction_v4.en.md
  docs/pipeline_usage/tutorials/information_extraction_pipelines/document_scene_information_extraction_v4.md
  paddlex/inference/serving/basic_serving/_pipeline_apps/pp_chatocrv4_doc.py
  paddlex/inference/serving/schemas/pp_chatocrv4_doc.py
Due: check-license-headers, check-imports

Fix bugs (#4083)
  docs/module_usage/instructions/model_python_API.en.md
  docs/module_usage/instructions/model_python_API.md
  docs/pipeline_deploy/serving.en.md
  docs/pipeline_deploy/serving.md
  docs/pipeline_usage/instructions/pipeline_CLI_usage.en.md
  docs/pipeline_usage/instructions/pipeline_CLI_usage.md
  docs/pipeline_usage/instructions/pipeline_python_API.en.md
  docs/pipeline_usage/instructions/pipeline_python_API.md
  paddlex/inference/utils/hpi.py
  paddlex/inference/utils/hpi_model_info_collection.json
  paddlex/paddlex_cli.py
  paddlex/utils/deps.py
  paddlex/utils/device.py
  paddlex/utils/env.py
Due: check-license-headers, check-imports

Fix layout params (#4094)
  docs/pipeline_usage/tutorials/information_extraction_pipelines/document_scene_information_extraction_v3.en.md
  docs/pipeline_usage/tutorials/information_extraction_pipelines/document_scene_information_extraction_v3.md
  docs/pipeline_usage/tutorials/information_extraction_pipelines/document_scene_information_extraction_v4.en.md
  docs/pipeline_usage/tutorials/information_extraction_pipelines/document_scene_information_extraction_v4.md
  docs/pipeline_usage/tutorials/ocr_pipelines/PP-StructureV3.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/PP-StructureV3.md
  docs/pipeline_usage/tutorials/ocr_pipelines/formula_recognition.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/formula_recognition.md
  docs/pipeline_usage/tutorials/ocr_pipelines/layout_parsing.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/layout_parsing.md
  docs/pipeline_usage/tutorials/ocr_pipelines/seal_recognition.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/seal_recognition.md
  docs/pipeline_usage/tutorials/ocr_pipelines/table_recognition.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/table_recognition.md
  docs/pipeline_usage/tutorials/ocr_pipelines/table_recognition_v2.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/table_recognition_v2.md
  paddlex/inference/serving/basic_serving/_pipeline_apps/table_recognition.py
  paddlex/inference/serving/basic_serving/_pipeline_apps/table_recognition_v2.py
  paddlex/inference/serving/schemas/formula_recognition.py
  paddlex/inference/serving/schemas/layout_parsing.py
  paddlex/inference/serving/schemas/pp_chatocrv3_doc.py
  paddlex/inference/serving/schemas/pp_chatocrv4_doc.py
  paddlex/inference/serving/schemas/pp_structurev3.py
  paddlex/inference/serving/schemas/seal_recognition.py
  paddlex/inference/serving/schemas/table_recognition.py
  paddlex/inference/serving/schemas/table_recognition_v2.py
Due: check-license-headers, check-imports

fix mkldnn (#4096)
  paddlex/inference/models/common/static_infer.py
Due: check-license-headers, check-imports

bugfix (#4086)
  README.md
  README_en.md
  paddlex/inference/pipelines/base.py
  paddlex/inference/pipelines/layout_parsing/result_v2.py
  paddlex/inference/utils/mkldnn_blocklist.py
  paddlex/inference/utils/pp_option.py
Due: check-license-headers, check-imports

[cherry-pick] change '736,min' -> '64,min' (#4102)
  docs/pipeline_usage/tutorials/ocr_pipelines/OCR.en.md
  docs/pipeline_usage/tutorials/ocr_pipelines/OCR.md
  paddlex/configs/pipelines/OCR.yaml
Due: none

fix textline models
  docs/module_usage/tutorials/ocr_modules/textline_orientation_classification.en.md
  docs/module_usage/tutorials/ocr_modules/textline_orientation_classification.md
  paddlex/configs/pipelines/OCR.yaml
  paddlex/configs/pipelines/PP-ChatOCRv4-doc.yaml
  paddlex/configs/pipelines/PP-StructureV3.yaml
  paddlex/inference/utils/official_models.py
Due: check-license-headers, check-imports

pycocotools upgrade incompatible since 2.0.9 (#4138)
  setup.py
Due: check-license-headers

Do not register base classes (#4141)
  paddlex/utils/subclass_register.py
Due: check-license-headers, check-imports

Remove the upper version constraint for pandas (#4122)
  paddlex/inference/models/common/ts/funcs.py
  paddlex/utils/deps.py
  setup.py
Due: check-license-headers, check-imports

[Fix] Fix HPI bugs (#4137)
  paddlex/inference/models/common/static_infer.py
  paddlex/inference/utils/hpi.py
  paddlex/inference/utils/hpi_model_info_collection.json
  paddlex/inference/utils/mkldnn_blocklist.py
Due: check-license-headers, check-imports

Fix memory leak when enabling mkldnn (#4148)
  paddlex/inference/models/common/static_infer.py
  paddlex/inference/utils/pp_option.py
Due: check-license-headers, check-imports

[CustomDevice] Fix some infer errors on CustomDevice (#4143)
  paddlex/inference/models/open_vocabulary_detection/processors/groundingdino_processors.py
  paddlex/utils/device.py
Due: check-license-headers, check-imports

[Setup.py] Modify setup.py (#4158)
  docs/pipeline_usage/tutorials/cv_pipelines/3d_bev_detection.en.md
  docs/pipeline_usage/tutorials/cv_pipelines/3d_bev_detection.md
  paddlex/inference/pipelines/pp_chatocr/pipeline_v4.py
  paddlex/ops/__init__.py
  setup.py
Due: check-license-headers, check-imports

[Docs] Cherry-pick VisualDL docs and fix typo (#4160)
  README.md
  README_en.md
  docs/FAQ.en.md
  docs/FAQ.md
  docs/VisualDL.en.md
  docs/VisualDL.md
  mkdocs.yml
Due: none

update docker tag for 3.0.1 (#4154)
  docs/installation/installation.en.md
  docs/installation/installation.md
Due: none

update HPI prior knowledge (#4167)
  paddlex/inference/utils/hpi_model_info_collection.json
Due: none

support to download inference model from huggingface hub (#4121)
  .precommit/check_imports.py
  paddlex/inference/utils/official_models.py
  setup.py
Due: check-license-headers, check-imports
